td {
  border: 5px solid #333;
  height: 100px;
  width: 100px;
  text-align: center;
  vertical-align: middle;
  font-family: arial, sans-serif;
  color: #2c3e50 !important;
  font-size: 70px;
  cursor: pointer;
}
table {
  border-collapse: collapse;
  position: absolute;
  left: 50%;
  margin-left: -155px;
  top: 100px;
}
table tr:first-child td {
  border-top: 0;
}
table tr:last-child td {
  border-bottom: 0;
}
table tr td:first-child {
  border-left: 0;
}
table tr td:last-child {
  border-right: 0;
}
body {
  background-color: cyan;
}
.endgame {
  display: none;
  width: 200px;
  top: 120px;
  background-color: chartreuse;
  position: absolute;
  left: 50%;
  margin-left: -100px;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-size: 2em;
}

button {
  border: none;
  outline: none;
  height: 50px;
  width: 130px;
  background-color: black;
  color: white;
  border-radius: 4px;
  font-weight: bold;
  position: absolute;
  left: 45%;
  top: 500px;
}
button:hover {
  background-color: white;
  border: 1px solid;
  color: black;
}
p {
  color: black;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: large;
  position: absolute;
  left: 40%;
}
