td {
  border: 5px solid #333;
  height: 100px;
  width: 100px;
  text-align: center;
  vertical-align: middle;
  font-family: "Comic Sans Ms", cursive, sans-serif;
  color: #2c3e50 !important;
  font-size: 70px;
  cursor: pointer;
}
td {
  border: 5px solid #333;
  height: 100px;
  width: 100px;
  text-align: center;
  vertical-align: middle;
  font-family: SB Heading, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  color: #2c3e50 !important;
  font-size: 70px;
  cursor: pointer;
}
rgba(0,0,0,.54)